.imgmic {
    border-radius: 10px;
    text-align: center;
    
}
.minec {
    text-align: center;
}
.clka {
    text-decoration: nonae;
    border-radius: 10px;
    border-bottom: 10px;
    color: green;
}
.tabl {
    border-radius: 10px;
    border: 10px;
}
